<strong>Recuperando Senha:</strong>

<p>Uma recuperação de senha foi solicitada para o e-mail <b>({{ email }})</b>. Se você não foi o autor dessa solicitação, sugerimos que troque sua senha porque alguém esta tentando acessar sua conta.</p>

<p>Para recuperar sua senha utilize o token {{ token }} ou clique no link abaixo:</p>

<a href="{{ link }}" title="Clique para criar nova senha">Clique para criar nova senha</a>
