<strong>Olá temos um convite especial para você para participar do nosso evento!</strong>
<p><b>Confira os detalhas:</b><p>
<p>Evento: <b>{{ title }}</b></p>
<p>Local: <b>{{ local }}</b></p>
<p>Data: <b>{{ dateEvent }}</b></p>
<br>
<p>Enviado por: {{ username }} em {{ dateSend }}</p>
